@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Nunito', sans-serif;
}


#navbar li {
    position: relative;
    
}
#navbar li > .dropdown-menu{
    display: none;
    position: absolute;
    left: -30%;
    
}
/* #navbar li:hover .dropdown-menu{
    width: 130px ;
    height: 120px;
    display: block;
    background-color: #f1f1f1;
    padding-top: 15px;
    border-radius: 5px;
    padding-left: 10px;
   

} */

#navbar li:hover .dropdown-menu{
    width: 130px ;
    height: 120px;
    display: block;
    background-color: #f1f1f1;
    padding-top: 15px;
    border-radius: 5px;
    padding-left: 10px;
   
}
#navbar li:hover .dropdown-menu > li{
    
    margin-bottom: 15px;
     
    
}

.search{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search i{
    position: absolute;
    right: 22%;
    color: #088178;
}
.search input{
     color:#333;
     font-size: 16px;
    padding-left: 15px;
    outline: none;
    width: 60%;
    height: 50px;
    border: 1px solid #798ef5;
    border-radius: 30px;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
   
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px ;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 1s;

}
body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#header #navbar input{
   padding-left: 5px;
   width: 290px;;
   height: 40px;
   border-radius: 4px;
   border: none;
   border: 1px solid rgb(179, 164, 164);
   outline: none;
   position: relative;


}
#header #navbar i{
    margin-right: 10px;
    color: #088178; 
    /* border-radius: 50%; */
    padding: 7px;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a ;
    transition:0.3 ease;
}
#navbar li a:hover{
color: #088178;
}
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}


#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}




.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
  }
  
  .hero .image{
    flex:1 1 40rem;
    padding-top: 5rem;
   
  }
  
  .hero .image img{
    width:100%;
  }
  
  .hero .content{
    flex:1 1 40rem;
    

  }
  .hero .content h2{
    color: #088178;
}
 

 .hero .content h1{
    color: #088178;
}
.hero .content button{
    padding: 15px 35px;
    color: #088178;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;

}
.hero .content button:hover{
    background-color: #088178;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition:0.5s ease;
}
/* feature dàn layout */
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 #feature .fe-box{
     width: 180px;
     border: 1px solid #cce7d0;
     text-align: center;
     padding: 25px 15px;
     box-shadow:  20px 20px 34px rgba(0,0,0,0.03) ;
     margin: 5px;
     border-radius: 5px ;
 }
 #feature .fe-box img{
     width: 100%;
     margin-bottom: 10px;
 }
 #feature .fe-box:hover{
     box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
     background-color: #a1e7e3;
 }
 #feature .fe-box h6{
     display: inline-block;
     padding: 9px 8px 6px 8px;
     line-height: 1;
     color: #088178;
     background-color: #fddde4;
 }
 
 #feature .fe-box:nth-child(2) h6{
     background-color: #cdebbc;
 }
 #feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

.product{
    text-align: center;
}
.product h2{
    color: #088178;
    line-height: 100px;
   
}
.product h2:hover{
    font-size: 50px;
  
    
}

.product .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;


}

.product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border:  1px solid #088178;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
}
.product .pro:hover{
    
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product .pro img{
    width: 100%;
    border-radius: 20px;
   
}
/* info product */

.product .pro .des{
    text-align: start;
    padding: 10px 0;
}
.product .pro .des span{
    color: #606063;
    font-size: 12px;
}
.product .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
.product .pro .des i{
    font-size: 12px;
    color: rgb(246, 178, 4);

}
.product .pro .des h4{
padding-top: 7px;
font-size: 15px;
font-weight: 700;
color: #088178;
}
.product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0 ;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/anhbanner.jpg");
    width: 100%;
    /* height: 40vh; */
    height: 50vh;
    background-size: cover;
    background-position: center;

}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0 ;

}
#banner h2 span{
    color: #088178;
}
#banner .normal:hover{
color: #fff;
background-color: #088178;
}

#bottom-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#bottom-banner .banner-box:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}
#bottom-banner .banner-box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/banners-1.jpg");
    min-width: 580px;
    /* height: 40vh; */
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    position: relative;

}
#bottom-banner .banner-box button{
    padding: 10px 20px;
    position: absolute;
    bottom:5%;
    left: 2%;
    background-color: rgb(60, 198, 244);
    border: none;
    color: #fff;
    border-radius: 4px;
  

}
#bottom-banner .banner-box button:hover{
    background-color: #088178;
    transition: 0.5s;
}

#bottom-banner .banner-box2{
     background-image: url("images/banners-2.webp");
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px ;

}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
   
    background-image: url("https://i.vietgiaitri.com/2020/4/11/3-meo-ban-phai-biet-ngay-khi-mua-giay-nike-air-force-1-8e5-4839897.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;

}
#banner3 .banner-box2{

background-image: url("https://file.hstatic.net/200000042104/file/tumblr-o3c8833umz1qb7ibto1-1280-1504176998431_4ac66342e62548b5bfee83d253d42aa9_grande.jpg");
}
#banner3 .banner-box3{
background-image: url("http://product.hstatic.net/1000282067/product/nike-jordan-1-low-paris-cv3043-100-on-foot-01_70ea3af420b5416782a9a3bd7d060e2a_grande.jpg");
}
#banner3 h2{
    color:#fff;
    font-weight: 700;
    font-size: 15px;
}
#banner3 h3{
    color: #fff;
}
#banner3 .banner-box span{
    font-size: 12px;
  position: absolute;
  top: 5%;
  left: -7%;
 text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color:#138f87;
  width: 50px;
  /* padding-left: 15px; */
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
}
#banner3 .banner-box span:hover{
    transition: 0.5s ;
    background-color: #9dacf9;
    color: #000;
}
#feedback{
    display:flex ;
    justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   background-image: url("images/anhchantrang.jpg");
   background-repeat: no-repeat;
   background-position: 20% 30%;

}
#feedback h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;

}
#feedback p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
#feedback p span{
    color: #3252f2;
}
#feedback .form{
    display: flex;
    width: 40%;
}
#feedback input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;
}
#feedback button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
   
  
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    background-color: #cdd4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
} 
footer .logo{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin-bottom: 8px;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border:  1px solid  #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#page-header{
    width: 100%;
    height: 40vh;
    background-image: url("images/bannervip.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    padding: 14px;

}

#page-header h2, #page-header  p{
    color: #fff;
}
#page-header button{
    color: #333;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
}
#page-header button:hover{
    color: #fff;
    background-color: #088178;
    font-size: 14px;
    font-weight: 700;
    transition: 0.8s;
}

#pagination{
    text-align: center;
 
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}
/* single-product */
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
    /* border: 1px solid #088178; */
    
}


.small-image-group{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24% ;
    cursor: pointer;
    border: 1px solid #088178;
    border-radius: 3px;
    margin: 0px 10px 10px 10px;
   
    
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;

}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
    padding: 15px 20px;
    /* background-color: #9dacf9; */
}

#prodetails .single-pro-details span{
    line-height: 25px;
}



/* Xem chi tiết sản phẩm */
.view-info-pro p {
    font-size: 16px;
    font-weight: 700;
    color: #1f8a83;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 0px;
    background-color: #f1f1f1;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 30px 0px 30px;

}

.buy{
    background-color: #088178;
    border: none;
    margin-top: 15px;
    margin-bottom: 50px;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}

.giohang{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: #088178;
}



#mobile{
    display: none;
    align-items: center;
}



/* responsive theo Ipad */
@media (max-width:799px) {

    
    /* responsive giỏ hàng */
    .banner-cart{
        width: 100%;
        height: 250px;
    }
    .wrapper{
        width: 80%;
    }
    .cart-price{
        padding-left: 50px;
    }
    .cart-quantity{
        padding-left: 30px;
    }

    .btn{
       margin:0px 50px;
       padding: 0 15px;
    }
    .buy{
        background-color:#798ef5;
        padding: 10px 15px;
        font-size: 14px;
    }

   /* kết thúc responsive giỏ hàng  */

  
    
    .hero .content h1{
       color: rgb(232, 122, 122);
    }
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1 );
        padding: 80px 0 0 10px;
        transition: 0.5s;

    }
    #navbar.active{
        right: 0px;

    }

    #navbar li {
        margin-bottom: 25px;
    }

    
#mobile{
    display: flex;
    align-items: center;
}

#mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;;
}

#close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;

}

#lg-bag{
    display: none;
}

#hero{
    height: 70vh;
    padding: 0 80px;
    background-position:  top 30% right 30%;
}

#feature{
    margin-top: 40%;
    justify-content: center;
}

#feature .fe-box{
    margin: 15px 15px;
}

.product .pro-container{
    justify-content: center;

}

.product .pro{
    margin: 15px;
}

#banner{
    height: 30vh;
   
}


#bottom-banner .banner-box:hover{
    transform: none;
}
#bottom-banner .banner-box{
    min-width: 100%;
    height: 35vh; 
    margin-top: 30px;  
}

#banner3 {
    padding:  0 40px;
}

#banner3 .banner-box{
    width: 28%;
}

#feedback .form{
    width: 70%;
}
 
}
/* responsive theo Iphone X */
@media (max-width: 477px) {


    .hero .content p{
        font-size: 14px;
    }

    .hero .content h1{
        font-size: 32px;
        line-height: 20px;
        color: #798ef5;
    }

    .hero .content h2{
        font-size: 30px;
        line-height: 60px;
    }

    .hero .content h4{
        font-size: 16px;
    }

    

    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #hero{
        padding:  0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }

    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    .product .pro{
        width: 100%;
    }
    #banner{
        height: 35vh;
    }

    #banner h2{
        font-size: 25px;
    }
    
    #bottom-banner .banner-box{
        height: 35vh;
    }
    #bottom-banner .banner-box2{
        margin-top: 20px ;

    } 
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }

    #banner3 .banner-box span{
        font-size: 12px;
      position: absolute;
      top:5%;
      left: -5%;
     text-align: center;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      background-color:#138f87;
      width: 50px;
      border-radius: 50%;
      height: 50px;
      line-height: 50px;
    }

    #feedback{
        padding: 40px 20px;
    }
    #feedback .form{
        width: 100%;
    }
    
    


}













